{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>긁어오기</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/webtoon.css' %}">
</head>
<body>
<div class="header">
    <div class="container">
        <h1><a href="{% url 'webtoon:index' %}"></a></h1>
    </div>
    <div class="container">
        <h2>{% block title %}{% endblock %}</h2>
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>